@import "../_variables";
@import "../_mixins";
@import "../_placeholders";

.collapse-list {
  @extend %centered;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-width;
  min-height: 370px;

  .collapse-container {
    margin-bottom: 25px;
    font-size: 1.3rem;
    transition: 0.3s;
    width: 1023px;

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 5px;
      background-color: $primary-color;
      border-radius: 5px;
      color: $color-white;
      padding: 10px;
      font-weight: 500;
      cursor: pointer;

      .chevron {
        transition: transform 0.6s ease;
        transform-origin: center;
      }

      .chevron-up {
        transform: rotate(0deg);
      }

      .chevron-down {
        transform: rotate(180deg);
      }

      .open {
        transform: rotate(-180deg);
      }
    }

    .collapse-content {
      background-color: $color-clearGrey;
      color: $primary-color;
      padding: 20px;
      text-align: left;
      border-radius: 0 0 10px 5px;
    }
  }
}

@media (max-width: 1440px) {
  .collapse-list {
    .collapse-container {
      width: 70%;

      .button-container {
      }
    }
  }
}

@media (max-width: 425px) {
  .collapse-list {
    margin: 1.5vh 2vw;
    .collapse-container {
      width: 100%;
    }

    .collapse-container {
      .button-container {
        font-size: 13px;
        height: 30px;
      }
    }
  }
}
