@import "../_variables";
@import "../_mixins";
@import "../_placeholders";

footer {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  padding-top: 6.85vh;
  background-color: black;
  color: white;

  a {
    display: flex;
    justify-content: center;
  }

  .Container {
    @extend %flex-center;
    flex-direction: column;
  }

  .LogoFooter {
    padding-bottom: 30px;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  footer {
    padding-bottom: 6.02vh;
    p {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
