@import "../_variables";
@import "../_mixins";
@import "../_placeholders";

.gallery {
  display: flex;
  max-width: $max-width;
  @extend %centered;
  background-color: $color-clearGrey;
  border-radius: 25px;
  margin-bottom: 50px;
}
