@import "../_variables";
@import "../_placeholders";
@import "../_mixins";

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  max-width: $max-width;
  @extend %centered;
  margin-top: 45px;
}

.nav_container {
  display: flex;
  justify-content: space-between;

  nav ul {
    display: flex;
  }

  .nav-active {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    list-style-type: none;
    color: $primary-color;
    font-size: 1.5em;
  }

  a:last-child {
    margin-left: 20px;
  }

  a:hover {
    color: $primary-color;
  }
}
