@import "../_variables";
@import "../mixins";
@import "../_placeholders";

.slideshow_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_pictures {
    width: 100%;
    height: 420px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }

  &_arrow {
    position: absolute;
    bottom: 40%;
    color: white;
    font-weight: lighter;
    cursor: pointer;
  }

  .leftArrow {
    left: 20px;
  }

  .rightArrow {
    right: 20px;
  }

  &_numbers {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media (max-width: 1440px) {
  .slideshow_container {
    margin: 0 2.1vw;
  }
}

@media (max-width: 425px) {
  .slideshow_container {
    .leftArrow,
    .rightArrow {
      width: 42px;
      height: 42px;
    }
  }
}

@media (max-width: 390px) {
  .slideshow_container {
    .leftArrow,
    .rightArrow {
      width: 24px;
      height: 24px;
    }
  }
}
