@import "../_variables";
@import "../mixins";
@import "../_placeholders";

.single-card {
  max-width: $max-width;
  @extend %centered;
  position: relative;
  display: flex;
  flex-direction: column;
  .single-card-carrousel {
    margin-top: 50px;
  }

  .slideshow_container_pictures {
    margin-top: 50px;
  }

  .title-loc-tag-box {
    position: relative;
    margin: 0 60px;

    text-align: left;
    @extend %centered;
    font-family: $principal-font-family;

    .single-card-title {
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      margin: 0;
    }

    .single-card-location {
      margin-top: 0;
      margin-bottom: 0;
    }

    .title-and-host-container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;

      color: $primary-color;

      .host-container {
        display: flex;
        align-items: center;

        p {
          text-align: right;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 500;
          line-height: 142.6%;
        }

        .circle-pic {
          margin-left: 0.694vw;
          border-radius: 50%;
          background-color: $color-clearGrey;
          width: 64px;
          height: 64px;
        }

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-left: 0.694vw;
        }
      }
    }

    .tag-star-container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .single-card-tags {
        display: flex;
        color: $color-white;
        width: auto;
        .tag {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 115px;
          height: 45%;
          flex-shrink: 0;
          background-color: $primary-color;
          color: #fff;
          text-align: center;
          font-style: normal;
          font-weight: 500;
          margin: 0 12px;
          padding: 6px 40px;
          border-radius: 10px;
          position: relative;
          @extend %black-bg-hover;
        }

        .tag:first-child {
          margin-left: 0;
        }
      }
    }

    .carrousel-container {
      position: relative;
      display: flex;
      margin: 30px 0;
      justify-content: space-between;

      .collapse-container {
        width: 44%;

        .button-container {
          display: flex;
          height: 52px;
          width: 100%;
          border-radius: 5px;
          background-color: $primary-color;
          border-radius: 10px;
          align-items: center;
          cursor: pointer;

          img {
            background-color: $primary-color;
            width: 32px;
            height: 32px;
            margin-right: 20px;
          }
        }

        .collapse-content {
          padding-top: 10px;
          padding-left: 10px;
          text-align: left;
          font-size: 1.3rem;
          color: $primary-color;
          background-color: $color-clearGrey;
          list-style: none;
          padding-right: 5px;
          border-radius: 10px;
        }

        .collapse-button {
          color: $color-white;
          width: 100%;

          display: flex;
          align-items: center;
          padding-left: 10px;
        }
      }
    }
  }
}

// Breakpoint 992px
@media (max-width: 992px) {
}

// Breakpoint 768px
@media (max-width: 768px) {
}

// Breakpoint 576px
@media (max-width: 576px) {
}
